{{> head }}


    {{> navbar }}
    <div class="row">
       <div class="col-8">
           <h1>Mambo!</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eaque vel a provident commodi quam tempore deserunt? Eaque aspernatur doloribus, praesentium magnam quaerat tenetur non deserunt officiis! Accusamus, qui rerum?</p>
       </div>
       <div class="col-4">
           <img src="assets/img/foto.png" class="img-thumbnail" alt="">
       </div>
    </div>
    {{> footer }}